<body class="text-center">
  <img class="mb-4" src="http://villatreviso.com.br/desv/logo/Logo_VillaTreviso_EmailCadastro.png" alt="" width="552" height="251">
  <% unless current_usuario.ativo %>
    <h1>Aguarde a liberação do seu Cadastro.</h1>
  <% end %>
</body>
